<%= render "shared/navbar" %>
<!--Spacer lol-->
<div class="h-28"></div>


<main class="bg-lime-500 min-h-screen">
  <h1 class="font-bold text-2xl text-center px-5 pt-10">You're one step away from a beautiful lawn!</h1>
  <h3 class="text-sm text-center px-5 pt-3 italic text-lime-900">Fill out the form below and let's get in touch!  We will get back with you in 1-5 business days. You can also call us at <br> 1-314-111-2222 or email us at service@99lawncare.com</h3>
  <%= render "form", message: @message %>
</main>
<%= render "shared/footer"%>