<%= render "shared/navbar" %>
<!--Spacer lol-->
<div class="h-28"></div>


<main class="bg-lime-50 min-h-screen flex flex-col items-center">
  <h1 class="font-bold text-2xl text-center px-5 pt-10">You're one step away from a beautiful lawn!</h1>
  <h3 class="text-sm text-center px-5 pt-3 italic lg:w-1/2">Fill out the form below and let's get in touch!  We will get back with you in 1-5 business days. You can also call us at 1-314-600-4038 or email us at <%= mail_to 'service@99lawncare.com', class: "text-lime-800 hover:underline"%></h3>
  <%= render "form", message: @message %>
</main>
<%= render "shared/footer"%>