<footer class="">
  <div class="text-white absolute">
  Website Design and Developed by <%= link_to "Tim Jedrek", "https://timjedrek.com"%>
  </div>
  <div class="text-center py-3 text-xs italic">
    Copyright <%= Date.today.year %> 99 Lawn Care LLC
  </div>
</footer>