<footer class="bg-white">
  <div class="text-white text-xs absolute z-0 overflow-hidden -left-80">
  Website Designed and Developed by <%= link_to "Tim Jedrek", "https://timjedrek.com"%>
  </div>
  <div class="text-center py-3 text-xs italic z-40">
    Copyright <%= Date.today.year %> 99 Lawn Care LLC
  </div>
</footer>